* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 11px;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

window {
    margin: 0px;
    border: 2px solid rgba(89, 89, 89, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 10px;
}

#input {
    margin: 4px 0;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: rgba(89, 89, 89, 0.4);
    color: #00ff99;
}

#inner-box {
    margin-top: 8px;
}

#outer-box {
    padding: 4px;
}

#scroll {
    margin-top: 5px;
}

#entry {
    padding: 6px;
    border-radius: 4px;
    color: #cccccc;
    background-color: transparent;
}

#entry:selected {
    background: linear-gradient(45deg, #33ccff, #00ff99);
    color: black;
    font-weight: bold;
}

#text {
    padding-left: 6px;
}
